@{
    ViewData["Title"] = "Home Page";
}

<div class="text-xl-center">
    <h2>Данное приложение являетя тестом на проверку знаний стека технологий ASP .Net Core.</h2>
    <p>Подробное задание вы можете скачать <a href="~/files/asp.net_test.pdf"> и просмотреть в формате pdf</a>.</p>
</div>
<br />
<div>
    <h3 class="text-center"><a asp-area="" asp-action="Index" asp-controller="Switches">Перейти к проверке задания</a></h3>
</div>