@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Распространение и использование данного прилодения не запрещено и осуществляется какого-либо лицензионного соглашения</p>
